head,body {
    background-color:  #fff;
    font-family: 'Arial', sans-serif;
  }

  .box-wrapper {
    position: relative;
    height: 100vh;
    background: #FAF7F6;
  }

  .login-heading {
   display: flex;
   justify-content: center;
   align-items: center;
  }

  .login-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background: #f4f6f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
  }
  .login-header {
    text-align: center;
    margin-bottom: 20px;
  }

  .img-fluid {
    max-width: 100%;
    height: 50px;
    margin-left: 10px;
  } 

  .input-field {
    border: 1px solid #bbb;
    border-radius: 0;
    padding: 15px;
    color: #333;
    -webkit-filter: none;
    filter: none;
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
  } 

.btn-primary {
  background: #0a6fb9;
  color: #ffffff;
  padding: 10px 20px;
  max-width: 180px;
  border: none;
  border-radius: 5px ;
  cursor: pointer;
  
}
  .form-group {
    margin-bottom: 15px;
  }
  .btn-primary {
    width: 100%;
  }

  .login-error {
    color: #ff0000;
    padding: 10px;
  }


  @media (max-width: 768px) {
    .login-container {
      max-width: 300px;
     
    }

    .input-field {
     
      max-width: 240px;
    }
  }

